{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height">
  <section class="cf ph3 ph5-l pv3 pv4-l center container-xl tc">
    <h1 class="f2 f1-l fw7 mb0 text-teal">{{ .Title }}</h1>
    {{ with .Params.description }}
    <p class="f4 fw4 mid-gray mt4 center measure-wide">{{ . | markdownify }}</p>
    {{ end }}
  </section>

  <section class="cf ph3 ph5-l pv3 center container-xl">
    <div class="flex flex-wrap -mx2">
      {{ range .Pages }}
      <div class="w-100 w-50-m w-33-l w-25-xl w-20-xl px2 mb4">
        <div class="card-custom bg-white">
          {{/* Determine thumbnail: prefer .Params.featured_image, else extract first inline <img> src from content (skip video links) */}}
          {{ $img := "" }}
          {{ if .Params.featured_image }}
            {{ $src := .Params.featured_image }}
            {{ if or (hasPrefix $src "http://") (hasPrefix $src "https://") }}
              {{ $img = $src }}
            {{ else if hasPrefix $src "/" }}
              {{ $img = printf "%s%s" .Site.BaseURL (strings.TrimPrefix $src "/") }}
            {{ else }}
              {{ $img = $src | absURL }}
            {{ end }}
          {{ else }}
            {{ $reImg := `(?i)img[^>]+src=['"]([^'"]+)['"]` }}
            {{ $matches := findRE $reImg .Content }}
            {{ if gt (len $matches) 0 }}
              {{ $first := index $matches 0 }}
              {{ $src := replaceRE $reImg "$1" $first }}
                {{ if not (or (in $src "youtube") (in $src "vimeo") (in $src "youtu.be")) }}
                  {{ if or (hasPrefix $src "http://") (hasPrefix $src "https://") }}
                    {{ $img = $src }}
                  {{ else if hasPrefix $src "/" }}
                    {{ $img = printf "%s%s" .Site.BaseURL (strings.TrimPrefix $src "/") }}
                  {{ else }}
                    {{ $img = $src | absURL }}
                  {{ end }}
                {{ end }}
            {{ else }}
              {{ $reMD := `!\[[^\]]*\]\(([^)]+)\)` }}
              {{ $m2 := findRE $reMD .Content }}
              {{ if gt (len $m2) 0 }}
                {{ $first := index $m2 0 }}
                {{ $src := replaceRE $reMD "$1" $first }}
                {{ if not (or (in $src "youtube") (in $src "vimeo") (in $src "youtu.be")) }}
                  {{ if or (hasPrefix $src "http://") (hasPrefix $src "https://") }}
                    {{ $img = $src }}
                  {{ else if hasPrefix $src "/" }}
                    {{ $img = printf "%s%s" .Site.BaseURL (strings.TrimPrefix $src "/") }}
                  {{ else }}
                    {{ $img = $src | absURL }}
                  {{ end }}
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
          {{ if not (gt (len (strings.TrimSpace $img)) 0) }}
            {{ $img = ("images/Lo_spazio.jpg") | absURL }}
          {{ end }}
          {{ if gt (len (strings.TrimSpace $img)) 0 }}
          <a href="{{ .RelPermalink }}">
            <div style="width:100%;height:180px;overflow:hidden;">
              <img src="{{ $img }}" alt="{{ .Title }}" data-img="{{ $img }}" class="db ba b--black-10" style="width:100%;height:100%;object-fit:cover;">
            </div>
          </a>
          {{ end }}
          <div class="pv3">
            <span class="card-category">Attribuzione</span>
            <h2 class="f4 mb2 mt1">
              <a href="{{ .RelPermalink }}" class="black no-underline hover-teal">{{ .Title }}</a>
            </h2>
            <p class="f6 mid-gray mv0">{{ .Summary | plainify | truncate 150 }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </section>

  {{ .Content }}
</article>
{{ end }}