<footer class="bg-black white pv5 ph3 ph5-ns center">
    <div class="flex flex-wrap -mx3">
        <div class="w-100 w-33-l px3 mb4">
            <h3 class="f4 fw6 mb3 white">Spazio La Porta Verde</h3>
            <p class="f6 lh-copy">
                Via Andrea Maria Ampére, 102<br>
                20131 - Milano<br>
                Cell: 348/2256161
            </p>
        </div>
        <div class="w-100 w-33-l px3 mb4">
            <h3 class="f4 fw6 mb3 white">Contatti</h3>
            <p class="f6 lh-copy">
                <a href="mailto:info@spaziolaportaverde.it" class="white hover-teal">info@spaziolaportaverde.it</a><br>
                Twitter: @spaziolaportaverde
            </p>
        </div>
        <div class="w-100 w-33-l px3 mb4">
            <h3 class="f4 fw6 mb3 white">Seguici</h3>
            <div class="flex">
                <a href="https://www.facebook.com/staff.laportaverde" class="white hover-teal mr3">Facebook</a>
                <a href="http://pinterest.com/spaziolpv" class="white hover-teal">Pinterest</a>
            </div>
        </div>
    </div>
    <div class="border-top b--dark-gray pt4 mt4 tc">
        <p class="f7 silver">
            &copy; {{ now.Format "2006" }} Spazio La Porta Verde. Arte per la Vita.
        </p>
    </div>
</footer>